<div class="about-us">
    <p>Welcome to Tackle Time, your ultimate destination for all things NFL! 
    We are a team of junior full-stack developers—Trevis, John, Kendall, and Victor—collaborating 
    to bring you an exciting application as part of our coding bootcamp journey. 
    Our passion for coding and love for football converge in this project, 
    where we aim to provide users with a personalized NFL experience.</p>

    <p>At Tackle Time, our primary goal is to offer users a seamless platform to engage with their favorite NFL teams. 
        Upon logging in, you'll have the opportunity to select up to six teams to add to your account, 
        creating a customized dashboard tailored to your preferences. 
        This not only allows you to stay connected with your top teams but also unlocks exclusive features like a personalized calendar, 
        ticket information, and more.</p>

    <p>With the Tackle Time calendar, you can keep track of when your chosen teams are playing, 
        whether it's a home game or an exciting away match. The calendar provides details on the opposing teams, 
        making sure you never miss a moment of the action. Plus, it even lets you know if there are available tickets for purchase, 
        ensuring you can be in the stands cheering for your favorite team.</p>

    <p>Join us on this thrilling journey as we combine our coding skills 
        and love for the game to bring you Tackle Time—an application crafted by fans, for fans. 
        Feel free to explore the various features, including the personalized team pages, your favorite teams section, 
        and don't hesitate to reach out through our contact page with any feedback or inquiries. Let's make every game day a touchdown!</p>
</div>
