<div class="contacts">
    {{!-- Contact Card for Victor --}}
    <div class="contact-card">
         <img src="./DevPictures/victor-pfp.jpeg" alt="Victor" class="contact-img">
         <a href="https://github.com/vromero-beltran">Victor Romero-Beltran</a>
    </div>

    {{!-- Contact Card for John --}}
    <div class="contact-card">
        <img src="./DevPictures/John-Hazuka.jpg" alt="John" class="contact-img">
        <a href="https://github.com/JohnHazukaJr">John Hazuka</a>
    </div>

    {{!-- Contact Card for Kendall --}}  
    <div class="contact-card">
        <img src="./DevPictures/kendall-img.jpg" alt="Kendall" class="contact-img">
        <a href="https://github.com/kpfenning">Kendall Pfenning</a>
    </div>

    {{!-- Contact Card for Trevis --}}
    <div class="contact-card">
        <img src="./DevPictures/ContactMeimgTrevis.PNG" alt="Trevis" class="contact-img">
        <a href="https://github.com/Trevis-Williams">Trevis Williams</a> 
    </div>
</div>


<div class="contacts">
    {{#each contacts}}
        <div class="contact-card">
            <img src="{{imgSrc}}" alt="{{name}}" class="contact-img">
            <a href="{{profileUrl}}">{{name}}</a>
        </div>
    {{/each}}
</div>


  <link rel="stylesheet" type="text/css" href="./css/contactus.css">
