<div class="contacts">
    {{!-- Contact Card for Victor --}}
    <div class="contact-card">
        <img src="victor-img.jpg" alt="Victor" class="contact-img">
        <a href="https://github.com/vromero-beltran">Victor</a> 
    </div>

    {{!-- Contact Card for John --}}
    <div class="contact-card">
        <img src="john-img.jpg" alt="John" class="contact-img">
        <a href="https://github.com/JohnHazukaJr">John</a>
    </div>

    {{!-- Contact Card for Kendall --}}  
    <div class="contact-card">
        <img src="kendall-img.jpg" alt="Kendall" class="contact-img">
        <a href="https://github.com/kpfenning">Kendall</a>
    </div>

    {{!-- Contact Card for Trevis --}}
    <div class="contact-card">
        <img src="trevis-img.jpg" alt="Trevis" class="contact-img">
        <a href="https://github.com/Trevis-Williams">Trevis</a> 
    </div>
</div>