<div class="contacts">
    {{!-- Contact Card for Victor --}}
    <div class="contact-card">
        <img src="./DevPictures/victor-pfp.jpeg" alt="Victor" class="contact-img">
        <a href="https://github.com/vromero-beltran">Victor Romero-Beltran</a>
    </div>

    {{!-- Contact Card for John --}}
    <div class="contact-card">
        <img src="./DevPictures/John-Hazuka.jpg" alt="John" class="contact-img">
        <a href="https://github.com/JohnHazukaJr">John Hazuka</a>
    </div>

    {{!-- Contact Card for Kendall --}}  
    <div class="contact-card">
        <img src="./DevPictures/kendall-img.jpg" alt="Kendall" class="contact-img">
        <a href="https://github.com/kpfenning">Kendall Pfenning</a>
    </div>

    {{!-- Contact Card for Trevis --}}
    <div class="contact-card">
        <img src="./DevPictures/ContactMeimgTrevis.PNG" alt="Trevis" class="contact-img">
        <a href="https://github.com/Trevis-Williams">Trevis Williams</a> 
    </div>
</div>


<div class="contacts">
    {{#each contacts}}
        <div class="contact-card">
            <img src="{{imgSrc}}" alt="{{name}}" class="contact-img">
            <a href="{{profileUrl}}">{{name}}</a>
        </div>
    {{/each}}
    <div class="contact-right">
    <form name="submit-to-google-sheet">
        <input type="text" name="Name" placeholder="Your Name" required>
        <input type="email" name="Email" placeholder="Your Email" required>
        <textarea name="Message" rows="6" placeholder="Your Message"></textarea>
        <button type="submit" class="btn btn2">Submit</button>
        
    </form>
    <span id="msg"></span>
    <script>
        const scriptURL = 'https://script.google.com/macros/s/AKfycbyx9tzVtSufjRxpy_qJBakHUz7Uz03kbsudK9Aldi5AqCa9XfYopsdIWYvIwfJmXZU/exec'
        const form = document.forms['submit-to-google-sheet']
        const msg = document.getElementById("msg")
        form.addEventListener('submit', e => {
            e.preventDefault()
            fetch(scriptURL, { method: 'POST', body: new FormData(form)})
            .then(response => {
                msg.innerHTML = "Message Sent Successfully!"
                setTimeout(function(){
                    msg.innerHTML = ""
                }, 5000)
                form.reset()
            })
            .catch(error => console.error('Error!', error.message))
        })
    </script>
</div>
</div>


<link rel="stylesheet" type="text/css" href="./css/contactus.css">
