




<body>
    <div class="description">
    <h1>Choose your FAVORITE teams to access their SCHEDULES, VENUES, BROADCASTING INFORMATION, and ticket PURCHASE OPTIONS!</h1>
</div>

      
          <div class="next-btn">
            <a href="./myfavoriteteams.html" class="myButton" id="nextButton" style="display: none;">Next</a>
          </div>
    </div>

      
    


    </div>
</body>





<!-- Include Handlebars library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<script src="./login/public/js/favoritesSecltionPage.js"></script>