




<body>
    <div class="discription">
        <h1 class="">Choose your <span class="highlighted-text">FAVORITE</span> teams to access their <span
                class="highlighted-text">SCHEDULES,</span> <span class="highlighted-text">VENUES,</span> <span
                class="highlighted-text">BROADCASTING INFORMATION,</span> and ticket <span
                class="highlighted-text">PURCHASE
                OPTIONS!</span></h1>
      <img src="login\Nfl logos\49ers.png" alt="">
          <div class="next-btn">
            <a href="./myfavoriteteams.html" class="myButton" id="nextButton" style="display: none;">Next</a>
          </div>
    </div>

      
    


    </div>
</body>





<!-- Include Handlebars library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<script src="./login/public/js/favoritesSecltionPage.js"></script>