





    <div class="description">
    <h1>Choose your FAVORITE teams to access their SCHEDULES, VENUES, BROADCASTING INFORMATION, and ticket PURCHASE OPTIONS!</h1>
</div>
    <div class="next-btn">
        <a href="./myfavoriteteams.html" class="myButton" id="nextButton" style="display: none;">Next</a>
    </div>
    <div class="allTeams">
        <div class="row" id="teamList">
        {{#each teams}}
        <div class="favoriteTeam">
            <img id="{{id}}" src="{{imageSrc}}" alt="{{altText}}" onclick="toggleBackground(this)">
        </div>
        {{/each}}
        </div>
    </div>






<!-- Include Handlebars library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

<script src="/js/favoritesSecltionPage.js"></script>